@{
    ViewData["Title"] = "Ofertas De empleo";
}

<div class="container text-center">
        <h1>BOLSA DE EMPLEO</h1>
    <div class="col">
      <a class="btn btn-primary mt-5 btn-lg" asp-action="Index" asp-controller="Jobs">Ver ofertas de empleo</a>
    </div>
    <div class="col">
       <a class="btn btn-primary mt-5 btn-lg" asp-action="Create" asp-controller="Jobs" >Crear oferta de empleo</a>
    </div>
    <div class="col">
     <a class="btn btn-success mt-5 btn-lg" asp-action="Index" asp-controller="Employees">Listar empleados</a>
    </div>
    <div class="col">
      <a class="btn btn-success mt-5 btn-lg" asp-action="Create" asp-controller="Employees"> Registrar empleados</a>
    </div>
</div>


     
