@model Employ
@{
    ViewData["Title"] = "Create Employee";
}

<div class="container text-center">
  

    <div class="row">
        <div class="col-md-auto" style="background-color: gray;">
             <div class="col">
                <a class="btn btn-primary mt-5 btn-lg" asp-controller="Employees" asp-action="Create">Registrar nuevo empleados</a>
            </div>
            <div class="col">
                 <a class="btn btn-primary mt-5 btn-lg" asp-controller="Employees" asp-action="Index">Listado de Empleados</a>
            </div>
        </div>
        

        <div class="col-8">
            <form aps-action="Create" method="post" enctype="multipart/form-data" >

                <div class="row">
                    
                        <h1>Informacion del empleado</h1>
                        <div class="col">
                            <label > Nombre</label>
                            <input  class="form-control" asp-for="Names" />
                        </div>
                        <div class="col">
                            <label >Apellido</label>
                            <input   class="form-control" asp-for="LastName" />
                        </div>
                        <div class="col">
                              <label >correo</label>
                            <input   class="form-control" asp-for="Email" />
                        </div>



                </div>
                
                    <div class="row">
                        
                            <div class="col">
                                <label >fecha de nacimiento</label>
                                <input  class="form-control" asp-for="BirthDate"/>
                            </div>
                            <div class="col">
                                <label > genero</label>
                                <select class="form-control" asp-for="Gender">
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                </select>
                                
                            </div>
                            <div class="col">
                                <label > telefono</label>
                                <input type="tel" class="form-control" asp-for="Phone"/>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label >Direccion</label>
                                    <input type="text" class="form-control" asp-for="Address"/>
                                </div>
                                <div class="col">
                                    <label >Estado civil</label>
                                    <select class="form-control" asp-for="CivilStatus">
                                        <option value="Soltero">Soltero</option>
                                        <option value="Casado">Casado</option>
                                        <option value="Viudo">Viudo</option>
                                        <option value="Divorciado">Divorciado</option>
                                    </select>
                                </div>
                                <div class="col">
                                <label >salario deseado</label>
                                    <input type="number" class="form-control" asp-for="Salary"/>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <label >Titulo Academico</label>
                                    <input  class="form-control" asp-for="AcademicTitle"/>
                                </div>
                                <div class="col">
                                    <label>Area</label>
                                    <input  class="form-control" asp-for="Area"/>
                                </div>
                                <div class="col">
                                    <label>Idiomas</label>
                                    <input  class="form-control" asp-for="Languages"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Descripcion</label>
                                    <input type="text" class="form-control" asp-for="About"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>foto perfil</label>
                                    <input type="file" class="form-control" name="archivo"/>
                                </div>
                                <div class="col">
                                    <label>hoja de vida</label>
                                    <input type="file" class="form-control" name="hojaVida" />
                                </div>

                            </div>

                            <button type="submit" class="btn btn-primary">Crear un nuevo usuario</button>
                </div>
            </form>
        </div>
       

    </div>
</div>


                
                